@charset "UTF-8";

p.mensagem{
    display: inline-block;
    text-align: center;
    font-size: 3.5vh;
    background-color: rgb(2, 113, 204);
    color: rgb(255, 168, 6);
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    
    position: fixed;
    top: calc(100vh - 80px);
    left: -350px;
    transition-duration: 0.5s;
}

p#mensagemInimigo{
    top: 80px;
}