@charset "UTF-8";

@font-face {
    font-family: "evil-empire";
    src: url("fonts/Evil\ Empire.otf");
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #188ab8;
    overflow: hidden;
}

header{
    position: fixed;
    width: 93vw;
    padding: 20px;
    text-align: right;
}

header > a{
   font-size: 1em;
   font-weight: 100;
   display: inline; 
   background-color: #8301fc;
   color: white;
}

header > span{
    display: inline-block;
    color: white;
    font-size: 16px; 
    font-family: monospace;
    margin-left: 15px;
}

main#menu{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}



h1{
    background-color: #053fdd;
    color: #ce6400;
    font: 4em 'evil-empire';
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 3px 5px #00000096;
}

a{
    display: block;
    font: bold 2em "evil-empire";
    text-decoration: none;
    background-color: #1b8f6c;
    color: #ada52d;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.596);
}

a:hover{
    background-color: #188ab8;
}

a:active{
    background-color: #ce6400;
    color: white;
}

div.boll{
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    color: white;
}

input[type="text"]{
    width: 0px;
    height: 0px;
    border: none;
}

section#campo{
    width: 100vw;
    height: 100vh;
}

section#botoes{
    display: none;
    position: absolute;
    width: 100vw;
    transform: translateY(-100%);
    top: 100%;
}

section#botoes > button.botao{
    font-size: 2em;
    background-color: #8301fc;
    color: white;
    border: none;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color:#49008d;
    width: 25%;
    height: 50px;
}

section#botoes > button.botao:active{
    background-color: #ce6400;
    color: white;
}


@media screen and (max-width: 800px){
    input[type="text"]{
        display: none;
    }

    section#botoes{
        display: flex;
    }

    section#campo{
        height: calc(100vh - 50px);
    }
}