@charset "UTF-8";

@keyframes exibDano{
    0%{
        top: 50%;
        font-size: 1.3em;
    }

    100%{
        top: 30%;
        font-size: 2em;
    }
}

section#gameplay{
    height: 100vh;
    width: 100vw;
    display: none;
}

section#gameplay > div{
    height: 50vh;
    position: relative;
}

section#gameplay > div >img{
    display: block;
    margin: auto;
    height: 35vh;
    padding-top: 5vh;
}

section#gameplay > div > div.hitDano{
    display: none;
    background-image: url(../imagens/esfeito-corte.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35vh;
    width: 100vw;
    max-width: 190px;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

section#gameplay > div > span.exibDano{
    color: red;
    font-size: 1.3em;
    font-weight: bolder;

    position: absolute;
    top: 50%;
    left: 80%;

    animation: exibDano .5s linear;
}

section#gameplay > div#campPerson > div#buttons{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
    float: left;
}

section#gameplay button{
    display: block;
    background-color: rgb(14, 123, 224);
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    width: 20vw;
    padding: 2vh;
    margin: auto;
    margin-bottom: 1vh;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    
}

section#gameplay button:hover{
    background-color: rgb(252, 172, 0);
}

section#gameplay button:active{
    background-color: rgb(226, 92, 15);
}


div.containerBarraVida{
    display: block;
    border: 2px solid rgb(56, 55, 55);
    width: 80vw;
    max-width: 800px;
    margin: auto;
    position: relative;
}

div.barraVida, div.barraDano{
    display: block;
    text-align: center;
    background-color: orange;
    height: 3vh;
    max-height: 30px;
    width: 100%;
}

div.barraVida{
    position: absolute;
    top: 0px;
}

div.barraDano{
    background-color: grey;
    transition-duration: .6s;
}

#barraVidaPerson{
    background-color: rgb(6, 206, 6);
}

#barraVidaInimigo{
    background-color: rgb(184, 21, 21);
}

.nomeGameplay{
    text-align: center;
    font-size: 3vw;
    font-variant: small-caps;
}

button#btencerrarCombate{
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 75vw;
}

div#itensConsuGameplay{
    text-align: center;
    width: 22vw;
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 97vw;
}

div#itensConsuGameplay > button{
    background-color: transparent;
    background-image: url(../imagens/cura10.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    width: 8vw;
    height: 8vw;
    padding: 0px;
    margin: 6px;
    border: 2px solid white;
    box-sizing: border-box;
}

div#itensConsuGameplay > button#btcurarPerson{
    background-image: url(../imagens/cura10.png);
}

div#itensConsuGameplay > button#btmaisAtk{
    background-image: url(../imagens/maisAtk.png);
}

div#itensConsuGameplay > button#btmaisDef{
    background-image: url(../imagens/maisDef.png);
}

div#itensConsuGameplay > button#btmaisMag{
    background-image: url(../imagens/maisMag.png);
}


div#itensConsuGameplay > button:hover{
    border: 2px solid rgb(6, 129, 167);
}

