@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: transparent;
    position: relative;
    min-height: 100vh;
}

section{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

table{
    border-collapse: collapse;
    background-color: #999;
}

td{
    box-sizing: border-box;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

td:hover{
    background-color: rgb(37, 201, 230);
}

tr > td:last-child{
    border-right: none;
}
tr:last-child > td{
    border-bottom: none;
}

line, circle{
    visibility: hidden;
}

canvas{
    display: none;
    background-color: #ffffff89;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}