@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(135deg,#0ff775,#1acaff );
}


header{
    background-color: #999;
    padding: 10px;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    width: 70%;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

header > nav{
    text-align: right;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2;
}

select{
    display: none;
    background-color: transparent;
    text-align: center;
    width: 200px;
    border: none;
    border-radius: 5px;
}

select::-webkit-scrollbar{
    width: 0px;
}

nav:hover > select, nav:hover > button{
    display: block;
}

option{
    font: bolder 1em verdana;
    padding: 8px 5px;
    background-color: #0ff775;
}
option:hover{
    background-color: #1acaff;
}


button{
    display: block;
    background-color: #1acaff;
    font: bolder 16px sans-serif;
    margin: auto;
    margin-top: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
button:hover{
    background-color: #00ea;
}
button:active{
    color: white;
}

nav > button{width: 100%; display: none;}

#men-vitoria{
    display: none;
    background-color: #0ff775;
    color: white;
    font: 25px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 9px #00000056;
    text-shadow: 2px 1px 3px #00000076;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    z-index: 2;
}



section{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 1;
}

table{
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 5px 8px 12px #00000036;
}

td{
    background-color: #999;
    box-sizing: border-box;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

tr:first-child > td:first-child{
    border-top-left-radius: 20px;
}
tr:first-child > td:last-child{
    border-top-right-radius: 20px;
}
tr:last-child > td:first-child{
    border-bottom-left-radius: 20px;
}
tr:last-child > td:last-child{
    border-bottom-right-radius: 20px;
}

td:hover{
    background-color: rgb(37, 201, 230);
}

tr > td:last-child{
    border-right: none;
}
tr:last-child > td{
    border-bottom: none;
}

.formas{
    visibility: hidden;
}

canvas{
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@media screen and (min-width: 1000px) {
    header{
        float: left;
        margin: 0px;
        width: 20vw;
        height: 100vh;
        border-radius: 0px;
        border-top-right-radius: 50px;
    }

    header > nav{
        position: relative;
        width: 20vw;
        text-align: center;
        padding-top: 50px;
    }

    select{
        display: block;
        width: 100%;
        margin: auto;
    }

    main{
        height: 100vh;
        width: 80vw;
        float: right;
        position: relative;
    }
}